@use '../communElements/variables.scss';

#carouselExampleCaptions {
    img {
        object-fit: cover;
    }
}

.container00 {
    &.container05 {
        background-image: url('../../images/falcon9/falcon.jpg');
    }

    &.container06 {
        background-image: url('../../images/falcon9/02.jpg');
    }

    &.carrossel01 {
        background-image: url('../../images/falcon9/03.jpg');
    }

    &.carrossel02 {
        background-image: url('../../images/falcon9/04.jpg');
    }

    &.carrossel03 {
        background-image: url('../../images/falcon9/05.jpg');
    }

    &.carrossel04 {
        background-image: url('../../images/falcon9/06.jpg');
    }

    &.carrossel05 {
        background-image: url('../../images/falcon9/07.jpg');
    }

    &.container07 {
        background-image: url('../../images/falcon9/08.jpg');
    }
}

.titleFacol9 {
    font-size: 90px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #fdfdfd;
}

.titleContent {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.numbers {
    background-color: #000;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titleNumber {
    font-size: 90px;
}

.subtitleNumber {
    font-size: 20px;
}

.falcon9Desc {
    font-size: 24px;
    width: 640px;
    line-height: 50px;
}

.containerFalcon9Desc {
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: left;
}

#overViewPosition {
    width: 500px;
    margin-left: 13%;
    padding-top: 15%;
}

.carrosselSlide {
    img {
        height: 100vh;
    }
}

.carousselText {
    font-weight: bold;
    background-color: #000;
}

.table {
    td {
        background-color: transparent;
        color: white;
    }
}

@media (max-width: 764px) {
    .titleNumber {
        font-size: 60px;
    }

    .falcon9Desc {
        font-size: 18px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .titleFacol9 {
        font-size: 50px;
    }
    .subtitleFacol9 {
        font-size: 1rem;
    }
    .numbers {
        padding-top: 30%;
    }
    #overViewPosition {
        width: auto;
    }
    .falcon9Desc {
        padding-top: 5rem;
    }
}

@media (max-width: 300px) {
    .titleFacol9 {
        font-size: 40px;
    }
    .titleNumber {
        font-size: 34px;
    }
    .subtitleNumber {
        font-size: 20px;
    }
    .falcon9Desc {
        line-height: 34px;
    }
}